//--define breakpoints
$breakpoints:  (
    'small': (max-width: 480px),
    'medium': (max-width: 768px),
    'large': (max-width: 1200px),
    'extra-large': (min-width: 1201px)
);


//--colors

:root  {
    --color_1 : hsl(213, 96%, 18%);
    --color_2 : hsl(243, 100%, 62%);
    --color_3 : hsl(228, 100%, 84%);
    --color_4 : hsl(206, 94%, 87%);
    --color_5 : hsl(354, 84%, 57%);
    --color_6  : hsl(231, 11%, 63%);
    --color_7 : hsl(229, 24%, 87%);
    --color_8 : hsl(217, 100%, 97%) ; 
    --color_9 : hsl(231, 100%, 99%) ; 
    --white : hsl(0, 0%, 100%);

}
