@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --title: hsl(213, 96%, 18%);
  --confirm_btn: hsl(243, 100%, 62%);
  --color_3: hsl(228, 100%, 84%);
  --color_4: hsl(206, 94%, 87%);
  --error: hsl(354, 84%, 57%);
  --color_6: hsl(231, 11%, 63%);
  --color_7: hsl(229, 24%, 87%);
  --bg: hsl(217, 100%, 97%) ;
  --color_9: hsl(231, 100%, 99%) ;
  --white: hsl(0, 0%, 100%);
}

.step__number {
  display: flex;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.main {
  font-size: 62.5%;
  border-radius: 18px;
  background-color: white;
  color: var(--color_1);
  height: 80vh;
  width: 70vw;
  max-height: 800px;
  max-width: 1300px;
  display: flex;
  padding: 1vw;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 0;
    max-height: auto;
    height: auto;
    width: 100vw;
  }
}
.main__stage {
  border-radius: 12px;
  padding-top: 20px;
  width: 33%;
  min-width: 152px;
  background: url("../images/bg-sidebar-desktop.svg") center/cover;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
@media (max-width: 768px) {
  .main__stage {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background: url("../images/bg-sidebar-mobile.svg") center/cover;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
}
.main__pages {
  position: relative;
  margin-left: 60px;
  margin-bottom: 25px;
  padding: 20px 35px 0 5px;
  width: 100%;
}

.step {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 15px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .step {
    width: auto;
  }
}
.step__number {
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: transparent;
  height: 30px;
  width: 30px;
  flex-shrink: 0;
}
.step__number[data-active=true] {
  color: var(--title);
  border: 0;
  background-color: var(--color_4);
}
.step__name {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .step__name {
    display: none;
  }
}
.step__name > h2 {
  font-weight: 400;
  color: var(--color_6);
}
.step__name > h3 {
  font-size: 0.8rem;
}

.page__step--1 {
  display: none;
}
.page__step--1[data-step="1"] {
  display: flex;
}

.page__step--2 {
  display: none;
}
.page__step--2[data-step="2"] {
  display: flex;
}

.page__step--3 {
  display: none;
}
.page__step--3[data-step="3"] {
  display: flex;
}

.page__step--4 {
  display: none;
}
.page__step--4[data-step="4"] {
  display: flex;
}

.thank--you {
  display: none;
}
.thank--you[data-step="5"] {
  display: flex;
}

.page {
  flex-direction: column;
  height: 100%;
  padding-top: 35px;
}
.page__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 35px;
  height: 100%;
}
.page__main__header {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.page__main__header > h5 {
  color: var(--title);
  font-size: 2.7rem;
  font-weight: 700;
}
.page__main__header > h6 {
  color: var(--color_6);
  font-size: 1.2rem;
  font-weight: 400;
}
.page__main__choices {
  padding-top: 65px;
  height: 100%;
}
.page .next {
  color: var(--white);
  background-color: var(--title);
  position: absolute;
  right: 0;
  transition: 0.35s ease-in-out;
}
.page .next:hover {
  background-color: hsl(213deg, 100%, 28%);
}
.page__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.page__nav .prev {
  position: absolute;
  left: 0;
  color: var(--color_6);
  transition: 0.35s ease-in-out;
}
.page__nav .prev:hover {
  color: var(--title);
  font-size: 1.2rem;
  font-weight: 700;
}
.page__nav .confirm {
  background-color: var(--confirm_btn);
  transition: 0.35s ease-in-out;
}
.page__nav .confirm:hover {
  background-color: hsl(243deg, 100%, 80%);
}
.page__nav > button {
  font-family: "Ubuntu", sans-serif;
  border: 0;
  height: 50px;
  width: 20%;
  min-width: 70px;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: 9px;
  cursor: pointer;
}

.next {
  color: var(--white);
  background-color: var(--title);
}

.personal_info_form {
  display: flex;
  flex-direction: column;
}
.personal_info_form > input {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid var(--color_7);
  border-radius: 9px;
  margin-bottom: 25px;
  padding-left: 20px;
}
.personal_info_form > input::-moz-placeholder {
  color: var(--color_6);
  padding-left: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.personal_info_form > input:-ms-input-placeholder {
  color: var(--color_6);
  padding-left: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.personal_info_form > input::placeholder {
  color: var(--color_6);
  padding-left: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.personal_info_form > input[data-active=true] {
  border: 1px solid var(--error);
}
.personal_info_form > label {
  position: relative;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}
.personal_info_form > label[data-active=true]::after {
  content: "This field is required";
  position: absolute;
  right: 10px;
  color: var(--error);
  font-weight: 700;
}

.select_your_plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80% 20%;
  row-gap: 30px;
  justify-items: center;
  max-width: 520px;
}
.select_your_plan .card {
  border: 1px solid var(--color_6);
  border-radius: 12px;
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 6px;
  padding: 10px;
  cursor: pointer;
}
.select_your_plan .card:hover {
  border: 1px solid var(--title);
}
.select_your_plan .card__img {
  width: 37%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}
.select_your_plan .card__name {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color_2);
}
.select_your_plan .card__price {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color_6);
}
.select_your_plan .card__gift {
  display: none;
  color: var(--title);
  font-size: 1rem;
  font-weight: 400;
}
.select_your_plan .card__gift[data-active=true] {
  display: flex;
}
.select_your_plan .card[data-active=true] {
  background-color: var(--color_3);
}
.select_your_plan .toggle_switch_container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--color_9);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in;
}

.toggle__month {
  color: var(--title);
  font-weight: 700;
  font-size: 1rem;
  margin-right: 10px;
}
.toggle__switch {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}
.toggle__switch > input {
  display: none;
}
.toggle__switch > input:checked + .toggle__switch__slider::before {
  transform: translate(23px, -50%);
}
.toggle__switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--title);
  box-shadow: inset 4px 4px 4px rgba(0, 5, 45, 0.445);
}
.toggle__switch__slider::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 2px;
  height: 13px;
  width: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color_9);
  transition: 0.5s;
}
.toggle__year {
  color: var(--color_6);
  font-size: 1rem;
  margin-left: 10px;
}

.addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  width: 100%;
  border: 1px solid var(--color_7);
  border-radius: 9px;
  padding: 10px 15px;
}
.addon:hover {
  border: 1px solid var(--title);
}
.addon[data-checked=true] {
  border: 1px solid var(--title);
  background-color: var(--bg);
}
.addon__input {
  flex: 1;
}
.addon__infos {
  flex: 15;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.addon__infos__name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--title);
}
.addon__infos__description {
  font-size: 0.9rem;
  color: var(--color_6);
  font-weight: 500;
}
.addon__price {
  flex: 1;
  font-size: 0.8rem;
  color: var(--confirm_btn);
}

.addons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.confirm {
  position: absolute;
  right: 0;
  color: var(--white);
  transition: 0.35s ease-in-out;
}

.summary {
  background-color: var(--color_9);
  border-radius: 15px;
  font-size: 0.8rem;
  padding: 20px;
}
.summary__plan {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  padding-bottom: 20px;
  color: var(--title);
}
.summary__plan__name {
  font-size: 1.2rem;
  font-weight: 700;
}
.summary__plan__name__change {
  margin-top: 4px;
  font-size: 0.9rem;
  color: var(--color_6);
  font-weight: 400;
  text-decoration: underline;
  transition: 0.25s ease-in;
}
.summary__plan__name__change:hover {
  color: var(--confirm_btn);
  font-weight: 500;
  cursor: pointer;
}
.summary__plan__price {
  font-size: 1rem;
  font-weight: 700;
}
.summary__addon {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px 0;
}
.summary__addon__picked {
  display: flex;
  justify-content: space-between;
}
.summary__addon__picked__name {
  font-size: 0.9rem;
  color: var(--color_6);
  font-weight: 500;
}
.summary__addon__picked__price {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--title);
}
.summary__total {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 15px;
}
.summary__total__text {
  color: var(--color_6);
  font-size: 1.2rem;
}
.summary__total__price {
  color: var(--confirm_btn);
  font-size: 1.3rem;
  font-weight: 700;
}

.thank--you {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding: 0 60px;
}
.thank--you > h5 {
  color: var(--title);
  font-size: 2.7rem;
  font-weight: 700;
}
.thank--you > p {
  color: var(--color_6);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */