.addon  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    border: 1px solid var(--color_7);
    border-radius: 9px;
    padding: 10px 15px;
    &:hover  {
        border: 1px solid var(--title);
    }
    &[data-checked=true]  {
        border: 1px solid var(--title);
        background-color: var(--color_4);

    }

    &__input  {
        flex: 1;
    }
    &__infos  {
        flex: 15;
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        &__name  {
            font-size: 1rem;
            font-weight: 700;
            color: var(--title);
        }

        &__description {
            font-size: 0.9rem;
            color: var(--color_6);
            font-weight: 500;
        }
    }
    &__price  {
        flex: 1;
        font-size: 0.8rem;
        color: var(--confirm_btn);
    }


}
.addons  {
 display: flex;
 flex-direction: column;
 row-gap: 15px;
}

